html,
body {
  display: block;
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  height: 500px;
}

/* HEADER */

header {
  height: 80px;
}

.dropdown {
  margin-top: 40px;
}

h1 {
  font-size: 28px;
}

.filter-input, .btn-xs {
  margin-top: 25px;
  margin-bottom: 5px;
}

.filter-input {
  width: 80%;
}

.btn-xs {
  float: right;
}

/* MAIN */

main {
  height: 90%;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

li {
  display: block;
}

.map-heading {
  float: right;
  margin-top: 30px;
  text-align: center;
}

.map-div {
  height: 430px;
  width: 100%;
}

.yelp {
  width: 180px;
  height: 300px;
}

.rating-img {
  width: 50%;
}

.yelp-img {
  width: 95%;
  margin: 5px auto;
}

.review {
  margin: 3px auto;
}

/* FOOTER */

.footer {
  font-size: 12px;
  text-align: center;
}

.credit {
  margin: auto;
}

.muted {
  color: #999;
}