html, body {
  display: block;
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  /*width: 98%;*/
  /*margin: auto;
  position: relative;*/
}

/* HEADER */

header {
  /*display: inline-block;
  width: 100%;
  height: 100px;*/
  background-color: turquoise;
}

.filter {
  /*width: 25%;*/
  background-color: firebrick;
}

input {
  font-size: 12px;
  margin-left: 10px;
}

.filter-input {
  margin-top: 25px;
  margin-bottom: 5px;
}

/* MAIN */

main {
  /*width: 100%;*/
  height: 95%;
  background-color: purple;
}

nav {
  /*width: 25%;*/
  /*min-width: 200px;*/
  background-color: olivedrab;
}

ul {
  /*padding: 20px;*/
}

li {
  margin: 10px auto;
}

.map-heading {
  /*width: 75%;*/
  float: right;
  text-align: center;
}

.map-div {
  /*width: 75%;*/
  height: 100%;
  position: absolute;
  right: 0;
  background-color: blue;
}

/* FOOTER */

footer {
  font-size: 12px;
  text-align: center;
  bottom: 20px;
}

/* MOBILE */
