html, body {
  display: block;
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  height: 500px;
}

/* HEADER */

header {
  height: 80px;
  /*background-color: turquoise;*/
}

.filter {
  margin-top: 30px;
  /*background-color: firebrick;*/
}

input {
  font-size: 12px;
}

h1 {
  font-size: 28px;
}

.filter-input, .btn-xs {
  margin-top: 25px;
  margin-bottom: 5px;
}

.filter-input {
  width: 80%;
}

.btn-xs {
  float: right;
}

/* MAIN */

main {
  height: 90%;
  /*background-color: purple;*/
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
}

/*.list-group-item .active {
  color: lightblue;
  border-color: lightblue;
}*/

.map-heading {
  float: right;
  margin-top: 30px;
  text-align: center;
}

.map-div {
  height: 90%;
  /*min-height: 400px;*/
  /*margin-bottom: 10px;*/
  margin-bottom: 10%;
  position: absolute;
  right: 0;
  /*background-color: blue;*/
}

.space {
  height: 20px;
}

/* FOOTER */

.footer {
  margin: 10px 0;
  font-size: 12px;
  text-align: center;
}

.muted {
  color: #999999;
}

/* MOBILE */
